.basket2,
.home,
.kart_site,
.email,
.ring,
.icon_list,
.frg{
	background: url(../img/sprites.png) no-repeat;
}

.basket2{
	background-position: -76px -5px ;
	width: 21px;
	height: 17px;
	float: left;
	margin-right: 6px;

}

.home{
	background-position: -7px -7px ;
	width: 12px;
	height: 11px;float: left;
	margin-left: 7px;
	margin-top: 1px;basket2
}

.kart_site{
	background-position: -30px -7px ;
	width: 14px;
	height: 10px;
	float: left;
	margin-left: 8px;
	margin-top: 1px;
}

.email{
	background-position: -56px -8px ;
	width: 12px;
	height: 9px;
	float: left;
	margin-left: 8px;
	margin-top: 2px;
}

.ring{
	background-position: -133px -4px ;
	width: 22px;
	height: 23px;
	float: left;
	margin-right: 2px;
}

.icon_list{
	background-position: -99px -2px ;
	width: 22px;
	height: 24px;
	float: left;
	border-radius: 50%;
	background-color: #206988;
	margin-right: 4px;
/*background-image: -webkit-linear-gradient(#206988 0%, #114165 59%, #0c3256 100%);
background-image: -o-linear-gradient(#206988 0%, #114165 59%, #0c3256 100%);
background-image: linear-gradient(#206988 0%, #114165 59%, #0c3256 100%);*/
}

.frg{

	background-position: -169px -8px ;
	width: 14px;
	height: 18px;
	float: left;
	margin-right: 2px;
	margin-left: 7px;
	margin-top: 4px;
}


