 @font-face {
    font-family: 'Lucida Sans Unicode';
     src: url(fonts/lucida-sans-unicode.ttf);
 }
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-family: 'Lucida Sans Unicode', arial;
}
.wraper {
	margin: 0 auto;
	width: 1000px;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 16px;
	font-family: ;
}
.clearfix {
	clear: both;
}
header {
	height: 25px;
	margin-bottom: 11px;
}
.tel {
	float: left;
	margin-right: 5px;
	margin-left: 7px;
	margin-top: 3px;
	height: 21px;
	width: 21px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	background-image: linear-gradient(to top, #206988 0%, #114165 59%, #0c3256 100%);
}
/* Text style for "(044)123-45-67" */
.number {
	float: left;
	width: 264px;
	font-size: 18px;
font-weight: 400;
line-height: 25px;
 font-family: 'Lucida Sans Unicode', arial;
 letter-spacing: 0.3px;
 margin-right: 17px;
}
.autorez {
/* Style for "Shape 22" */
float: left;
width: 495px;
height: 26px;
padding-right: 10px;
margin-right: 18px;
background-color: #b1bcc0;
background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
border-radius: 4px;
box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
}
.autorez input {
margin-top: 4px;
margin-left: 2px;
margin-right: 4px;
float: left;
width: 115px;
height: 18px;
border: 1px solid #9ba1a3;

color: #97a2a6;
font-family: "Lucida Sans Unicode", Arial;
font-size: 11px;
font-weight: 400;
line-height: 25px;

}
.autorez  a {
	float: left;
	margin-top: 7px;
	list-style: none;
	text-decoration: none;
	color: white;
	font-family: "Lucida Sans Unicode", Arial;
	font-size: 11px;
	font-weight: 400;
	line-height: 13px;
	margin-left: 3px;
}
.autorez a:nth-of-type(2) {
	border-left: 1px solid #fff;
	padding-left: 4px;
}
.autorez a:nth-of-type(3) {

	float: right;
	color: #bfbfbf;
	font-family: "Lucida Sans Unicode", Arial;
	font-size: 12px;
	font-weight: 400;
	text-decoration: underline;

}
nav {
	float: left;
	width: 75px;
	height: 21px;
	background-color: white;
	border: 1px solid #bdc4c7;
	box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.15);
	border-radius: 11px;
	padding-top: 2px;
}
.navigation {
	/* Style for "Shape 21" */
margin-top: 4px;
/*margin-bottom: 12px;*/
margin-bottom: 160px;
width: 910px;
height: 34px;
padding-left: 125px;
background-color: white;
background-image: linear-gradient(to top, black 0%, #576068 100%);
border: 1px solid #0d1642;
border-radius: 5px;
box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
}
.navigation ul li {
	float: left;
	/*width: 123px;
	padding-left: 21px;
	padding-right: 21px;*/
	line-height: 34px;

}
.navigation a {
	/*width: 123 px;*/
	padding-top: 6px;
	padding-bottom: 3px;
	text-decoration: none;
	padding-left: 14px;
	padding-right: 14px;
	color: #fff;
	font-family: "Lucida Sans Unicode", Arial;
	font-size: 14px;
	font-weight: 400;
line-height: 35px;
}
.navigation a :first-of-type {
	padding-left: 20px;
	padding-right: 19px;
}

.navigation li a:hover {
	/* Style for "Shape 5" */

height: 30px;
border-radius: 11px;
color: #b1bcc0;
background-color: #f60303;
background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
}
.basket {
	margin-left: 73px;

	padding-top: 7px;
	float: left;
	font-family: "Lucida Sans Unicode", Arial;
	color: #929b9f;
	font-size: 11px;
	font-weight: 400;
}
.basket span:nth-child(odd) {
	/* Text style for "0" */

color: #0d5a8f;
font-size: 12px;
font-weight: 400;
}
.basket span:nth-of-type(3) {
	padding-left: 5px;
	padding-right: 5px;
}
.container {
	margin-bottom: 29px;
}
.left_katalog {
	margin-top: 3px;
	float: left;
	width: 191px;
	font-family: "Lucida Sans Unicode", Arial;
}
.right_catalog{
	margin-top: 3px;
	margin-left: 9px;
	float: left;
	width: 180px;
	font-family: "Lucida Sans Unicode", Arial;
}
.left_katalog_header {
	/* Style for "pla" */
width: 183px;
height: 27px;
border-radius: 13px;
border: 1px solid #79878d;
box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
margin-bottom: 14px;
}
.right_katalog_header {
	width: 183px;
height: 27px;
border-radius: 13px;
border: 1px solid #79878d;
box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
margin-bottom: 14px;
}
.left_katalog_header span {
	color: #114165;
	font-size: 11px;
	font-weight: 400;
	line-height: 25px;

	float: left;
	letter-spacing: 0.9px;
}
.right_katalog_header span{
	color: #114165;
	font-size: 11px;
	font-weight: 400;
	line-height: 25px;
	float: left;
	letter-spacing: 0.9px;
}
.left_catalog_header_litl {
	/* Style for "Shape 28" */
width: 148px;
height: 28px;
/*margin-left: 14px;
*/background-color: white;
border: 1px solid #79878d;
border-radius: 14px;
}
.right_catalog_header_litl {
	width: 137px;
	height: 28px;
	background-color: white;
	border: 1px solid #79878d;
	border-radius: 14px;
	float: left;
	margin-left: 14px;
	margin-right: 10px;
}

.left_catalog_header_litl span {
	color: #114165;
font-family: "Lucida Sans Unicode", Arial;
font-size: 14px;
font-weight: 400;
line-height: 25px;
}
.right_catalog_header_litl span {
	color: #114165;
font-family: "Lucida Sans Unicode", Arial;
font-size: 14px;
font-weight: 400;
line-height: 25px;
}

.left_katalog  .filter {

	margin-left: 30px;
	color: #114165;
font-family: "Lucida Sans Unicode", Arial;
font-size: 12px;
}
.right_catalog .filter {
margin-left: 16px;
	color: #114165;
font-family: "Lucida Sans Unicode", Arial;
font-size: 12px;
}
.filter input:checked+span {
	color: #0c3256;
font-family: Arial;
font-size: 14px;
font-weight: 700;
font-style: italic;
text-decoration: underline;
}
.filter li {
	margin-bottom: 8px;
}

.filter li:last-of-type {
	margin-bottom: 4px;
}
.right_catalog .filter li:last-of-type {
	margin-bottom: 10px;
}
button {
	/* Style for "Shape 36" */
	margin-top: 13px;
	margin-left: 22px;
width: 82px;
height: 26px;
background-color: black;
background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
border: 1px solid #a7abae;
border-radius: 13px;

/* Text style for "╨Т╨л╨С╨а╨Р╨в╨м" */
/*width: 55px;
height: 8px;*/
color: #e5e9ea;
font-family: Arial;
font-size: 12px;
font-weight: 400;
}
.find {
	margin-bottom: 16px;

}
.find_auto,
.find_tires,
.find_disk {
	float: left;
	/* Style for "Shape 37" */
	border: 1px solid #9c9c9d;
	border-radius: 17px;
	box-shadow: 2.6px 4.3px 5px rgba(104, 104, 104, 0.75);
		padding-left: 16px;
		padding-top: 1px;
}
.find_auto {
	width: 415px;
	height: 134px;
	font-family: "Lucida Sans Unicode", Arial;

}
.find_auto h2 span {
	font-family: "Lucida Sans Unicode", Arial;
	line-height: 14px;
	display: inline-block;
	padding-left: 3px;
}
.joint {
	/* Text style for "╨┐╨╛╨╕╤Б╨║..." */
color: #154467;
font-size: 12px;
line-height: 28px;
font-weight: bold;
}
.left {
text-align: left;
}
.right {
	text-align: right;
}
label {
	font-size: 10px;
}
.grey {
	color: grey;
	font-size: 8px;
}






.gallery {
	font-family: "Lucida Sans Unicode", Arial;
	float: left;
	width: 526px;
	padding-left: 22px;
	padding-top: 13px;

	height: 627px;
	background-color: white;
background-image: linear-gradient(to top, rgba(35, 75, 93, 0.24) 0%, rgba(201, 207, 209, 0.24) 100%);
border-radius: 3px;
}
.item {
	float: left;
	width: 140px;
	margin-right: 28px;
	text-align: center;
	margin-bottom: 23px;
}
.item:nth-of-type(3) {
	margin-right: 0;
}
.item:nth-of-type(6) {
	margin-right: 0;
}
.item:nth-of-type(9) {
	margin-right: 0;
}
.item h3 {
	color: #206988;
}
.item_img {

width: 138px;
height: 129px;
background-color: white;
border: 1px solid #a4aeb1;
border-radius: 7px;
margin-bottom: 2px;
}
.item_img img {
	margin: 3px auto;
	display: block;
}
.item_prise {

	color: #114165;
	/* Base text style */



font-weight: 700;
font-style: italic;

/* Text style for "90.00" */
font-size: 16px;


}
.brand_logo {
	margin: 0 auto;
	text-align: center;
}
.brand_logo img{
	padding-top: 4px;
	margin-right: 12px;
	text-align: center;
	display:inline-block;
	vertical-align: bottom;
}
footer {
	/* Base text style */

width: 910px;
height: 101px;
background-color: #213a4d;
border: 1px solid #242a3c;
text-align: center;
margin-top: 29px;
padding-top: 10px;
}
footer a {
	/* Base text style */
	text-decoration: none;
	text-align: center;
text-align: center;
font-family: Arial;
font-size: 12px;
font-weight: 400;
line-height: 16px;

/* Text style for "╨Ю ╨║╨╛╨╝╨┐╨░╨╜╨╕╨╕" */
color: #52abcb;

/* Text style for "| ╨Ф╨╛╤Б╤В╨░╨▓╨║╨░   |" */
color: #bec6c9;
padding-right: 11px;
padding-left: 11px;
border-right: 2px solid #8d989f;
}
footer a:last-of-type {
	border: none;
}
footer p {
	/* Text style for "╨б╨╛╨╖╨┤╨░╨╜╨╕╨╡ ╤Б╨░╨╣╤В╨░" */
margin-top: 8px;
color: #7f4740;/*#fff;*/
font-family: Arial;
font-size: 10px;
font-weight: 400;
line-height: 18px;
font-family: "Lucida Sans Unicode", Arial;
text-align: center;
}
