 @font-face {
    font-family: 'Lucida Sans Unicode';
     src: url(fonts/lucida-sans-unicode.ttf);
 }
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-family: 'Lucida Sans Unicode', arial;
}
.wraper {
	margin: 0 auto;
	width: 1000px;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 16px;
	font-family: ;
	background: url('../img/homework6.jpg');
}
.clearfix {
	clear: both;
}
header {
	height: 25px;
	margin-bottom: 11px;
}
.tel {
	padding-top: 2px;
	float: left;
	margin-right: 5px;
	margin-left: 8px;
	margin-top: 4px;
	height: 21px;
	width: 21px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	background-image: linear-gradient(to top, #206988 0%, #114165 59%, #0c3256 100%);
}
/* Text style for "(044)123-45-67" */
.number {
	float: left;
	width: 264px;
	font-size: 18px;
font-weight: 400;
line-height: 25px;
 /*font-family: 'Lucida Sans Unicode', arial;*/
  font-family: arial;

 letter-spacing: 0.3px;
 margin-right: 15px;
 margin-left: 1px;
 margin-top: 3px;
}
.number span {
	font-size: 5px;
}
.autorez {
/* Style for "Shape 22" */
float: left;
width: 495px;
height: 26px;
padding-right: 10px;
margin-right: 18px;
background-color: #b1bcc0;
background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
border-radius: 4px;
box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
}
.autorez .int_aut {
margin-top: 4px;
margin-left: 2px;
margin-right: 5px;
float: left;
width: 113px;
height: 17px;
border: 1px solid #9ba1a3;
padding-left:  2px;
padding-bottom: 3px;

color: #97a2a6;
font-family: "Lucida Sans Unicode", Arial;
font-size: 11px;
font-weight: 400;
line-height: 25px;

}
.autorez .int_aut:nth-child(2) {
	width: 115px;
}
.autorez .enter {
	float: left;
	margin-top: 6px;
	list-style: none;
	text-decoration: none;
	color: white;
	font-family: "Lucida Sans Unicode", Arial;
	font-size: 11px;
	font-weight: 400;
	line-height: 13px;
	/*margin-left: px;*/
	background: none;
	border:0;
	padding-right: 1px;
	padding-left: 4px;
}
.autorez  a {
	float: left;
	margin-top: 7px;
	list-style: none;
	text-decoration: none;
	color: white;
	font-family: "Lucida Sans Unicode", Arial;
	font-size: 11px;
	font-weight: 400;
	line-height: 13px;
	margin-left: 3px;
	/*border-left: 1px solid #fff;
	padding-left: 4px;*/
}
.autorez a:nth-of-type(1) {
	border-left: 1px solid #fff;
	padding-left: 4px;

}
.autorez a:nth-of-type(2) {

	float: right;
	color: #bfbfbf;
	font-family: "Lucida Sans Unicode", Arial;
	font-size: 12px;
	font-weight: 400;
	text-decoration: underline;

}
nav {
	margin-top: 2px;
	float: left;
	width: 75px;
	height: 21px;
	background-color: white;
	border: 1px solid #bdc4c7;
	box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.15);
	border-radius: 11px;
	padding-top: 2px;
}
.navigation {
	/* Style for "Shape 21" */
margin-top: 3px;
margin-bottom: 10px;
/*margin-bottom: 160px;*/
width: 910px;
height: 34px;
padding-left: 125px;
background-color: white;
background-image: linear-gradient(to top, black 0%, #576068 100%);
border: 1px solid #0d1642;
border-radius: 5px;
box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
}
.navigation ul li {
	float: left;
	/*width: 123px;
	padding-left: 21px;
	padding-right: 21px;*/
	line-height: 34px;

}
.navigation a {
	/*width: 123 px;*/
	padding-top: 6px;
	padding-bottom: 3px;
	text-decoration: none;
	padding-left: 14px;
	padding-right: 14px;
	color: #fff;
	/*font-family: "Lucida Sans Unicode", Arial;*/
	 font-family:  arial;
	font-size: 14px;
	font-weight: 400;
line-height: 35px;
}
.navigation li:nth-child(1) {
	padding-bottom: 5px;
	padding-left: 7px;
}
.navigation li:nth-of-type(2) {
	padding-left: 7px;
}
.navigation li:nth-of-type(3) {
	padding-left: 4px;
	padding-bottom: 2px;
}
.navigation li:nth-of-type(4) {
	padding-left: 3px;

}
.navigation li a:hover {
	/* Style for "Shape 5" */

height: 30px;
border-radius: 11px;
color: #b1bcc0;
background-color: #f60303;
background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
}
.basket {
	/*margin-left: 53px;*/

	padding-top: 7px;
	padding-right: 10px;
	float: right;
	font-family: "Lucida Sans Unicode", Arial;
	color: #929b9f;
	font-size: 11px;
	font-weight: 400;
}
.basket span:nth-child(odd) {
	/* Text style for "0" */

color: #0d5a8f;
font-size: 12px;
font-weight: 400;
}
.basket span {
	display: inline-block;
	padding-top: 3px;
	vertical-align: middle;
}
.basket span:nth-of-type(3) {
	padding-left: 8px;
	padding-right: 7px;
}
.container {
	margin-bottom: 31px;
}
.left_katalog {
	margin-top: 3px;
	float: left;
	width: 191px;
	font-family: "Lucida Sans Unicode", Arial;
}
.right_catalog{
	margin-top: 3px;
	margin-left: 9px;
	float: left;
	width: 180px;
	font-family: "Lucida Sans Unicode", Arial;
}
.left_katalog_header {
	/* Style for "pla" */
width: 183px;
height: 27px;
border-radius: 13px;
border: 1px solid #79878d;
box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
margin-bottom: 14px;
}
.right_katalog_header {
	width: 183px;
height: 27px;
border-radius: 13px;
border: 1px solid #79878d;
box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
margin-bottom: 14px;
}
.left_katalog_header h3 {
	color: #114165;
	font-size: 11px;
	font-weight: 400;
	line-height: 25px;

	float: left;
	letter-spacing: 0.9px;
}
.right_katalog_header h3{
	color: #114165;
	font-size: 11px;
	font-weight: 400;
	line-height: 25px;
	float: left;
	letter-spacing: 0.9px;
}
.left_catalog_header_litl {
	/* Style for "Shape 28" */
width: 149px;
height: 28px;
/*margin-left: 14px;
*/background-color: white;
border: 1px solid #79878d;
border-radius: 14px;
}
.right_catalog_header_litl {
	width: 137px;
	height: 28px;
	background-color: white;
	border: 1px solid #79878d;
	border-radius: 14px;
	float: left;
	margin-left: 14px;
	margin-right: 10px;
}

.left_catalog_header_litl h3 {
	color: #114165;
font-family: "Lucida Sans Unicode", Arial;
font-size: 14px;
font-weight: 400;
line-height: 25px;
}
.right_catalog_header_litl h3 {
	color: #114165;
font-family: "Lucida Sans Unicode", Arial;
font-size: 14px;
font-weight: 400;
line-height: 25px;
}

.left_katalog  .filter {

	margin-left: 26px;
	color: #114165;
font-family: "Lucida Sans Unicode", Arial;
font-size: 12px;
}
.filter input+span {
	font-size: 13px;
	display: inline-block;
}
.right_catalog .filter {
margin-left: 16px;
	color: #114165;
font-family: "Lucida Sans Unicode", Arial;
font-size: 12px;
}
.right_catalog .filter ul {
	padding-top: 30px;
	padding-left: 5px;
}
.right_catalog .filter input+span {
	padding-left: 5px;

}
.right_catalog .filter label {
	line-height: 9px;
}
.filter .right_second  li {
	display: inline-block;
	padding-top: 5px;
	line-height: 15px;

}
.filter input:checked+span {
	color: #0c3256;
font-family: Arial;
font-size: 14px;
font-weight: 700;
font-style: italic;
text-decoration: underline;

}
.filter input[type='radio'] {
	margin-right: 0;
}
.filter li {
	margin-bottom: 8px;
}

.filter li:last-of-type {
	margin-bottom: 3px;
}
.left_catalog .filter .second li {
	margin-bottom: 5px;
}

.right_catalog .filter li:last-of-type {
	margin-bottom: 10px;
}
button {
	/* Style for "Shape 36" */
	margin-top: 10px;
	margin-left: 24px;
width: 82px;
height: 26px;
background-color: black;
background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
border: 1px solid #a7abae;
border-radius: 13px;

/* Text style for "╨Т╨л╨С╨а╨Р╨в╨м" */
/*width: 55px;
height: 8px;*/
color: #e5e9ea;
font-family: Arial;
font-size: 12px;
font-weight: 400;
}


.find {
	margin-bottom: 13px;

}
.find_auto,
.find_tires,
.find__disk {
	position: relative;
	float: left;
	/* Style for "Shape 37" */
	border: 1px solid #9c9c9d;
	border-radius: 17px;
	box-shadow: 2.6px 4.3px 5px rgba(104, 104, 104, 0.75);
		padding-left: 20px;

		padding-top: 1px;
}
.find_auto {
	width: 415px;
	height: 134px;
	font-family: "Lucida Sans Unicode", Arial;
	float: left;

}
.find_tires {
	float: left;
	/* Style for "╤И╨╕╨╜╤Л" */
	width: 193px;
	height: 137px;
	border: 1px solid #9c9c9d;
	border-radius: 17px;
	box-shadow: 2.6px 4.3px 5px rgba(150, 150, 150, 0.75);
	margin-left: 15px;
	margin-right: 11px;
}
.find__disk {
	/* Style for "Shape 35" */
	float: left;
width: 268px;
height: 136px;

border: 1px solid #9c9c9d;
border-radius: 14px;
box-shadow: 2.6px 4.3px 5px rgba(150, 150, 150, 0.75);
}
.find_auto h3 {
	position: absolute;
	left:130px;

	font-size: 12px;
	text-align: center;
	/* Text style for "╨Я╨╛╨╕╤Б╨║ ╨┐╨╛ ╨░╨▓╤В╨╛╨╝" */

color: #154467;
font-family: Arial;
font-size: 12px;
font-weight: 900;

}
.find__disk {
	padding-left: 14px;
	padding-right: 15px;
}
.find_disk {
	padding-left: 12px;
	font-family: "Lucida Sans Unicode", Arial;
}

.find_tires h3{
	position: absolute;
	left: 8px;
	top: 4px;
	/* Text style for "╨┐╨╛╨╕╤Б╨║ ╤И╨╕╨╜" */
	color: #114165;
	font-family: Arial;
	font-size: 12px;
	font-weight: 900;
	}
.find__disk h3 {
	position: absolute;
	left: 8px;
	top: 4px;
	/* Text style for "╨┐╨╛╨╕╤Б╨║ ╤И╨╕╨╜" */
	color: #114165;
	font-family: Arial;
	font-size: 12px;
	font-weight: 900;
	}
.find_disk_left,
.find_disk_right {
	float: left;
}
.find_disk_left {
	width: 163px;
	padding-right: 6px;
	border-right: 1px solid gray;
}
.find_disk_right {
	width: 73px;
	/*padding-left: 5px;*/
}

.find_auto fieldset {
	width: 180px;
	float: left;
	/* Text style for "╨Ф╨╕╤Б╨║╨╕:" */

color: #154468;
font-family: Arial;
font-size: 10px;
font-weight: 300;

}
.find_tires fieldset {
	float: left;
	font-family: Arial;
	font-weight: 300;
	margin-top: 21px;
}
.second span {
	margin-bottom: 0px;
	line-height: 9px;
}
.three span {
	line-height: 8px;
}
.find_auto legend {
	float: left;
	width: 186px;
	clear: both;
	margin-bottom: 6px;

}
select {
	margin-bottom: 6px;
	height: 16px;
	font-size: 11px;
	text-align: left;

}
.find_auto fieldset label {
	width: 74px;
	float: left;
	display: table-cell;
	vertical-align: middle;
	/*line-height: 15px;*/
}
.find_tires fieldset label {
	width: 44px;
	float: left;
	display: table-cell;
	vertical-align: bottom;
}
.find_disk_left fieldset {
	margin-top: 18px;
}
.find_disk_left select {
	margin-bottom: 13px;
}
.find_disk_right fieldset {
	margin-top: 2px;
	padding-left: 12px;
	/*margin-left: 7px;*/
}
.find_disk_left fieldset label {
	width: 90px;
	float: left;
	display: table-cell;
	vertical-align: middle;
}
.find_disk_right fieldset label {
	width: 73px;
	float: left;
	display: table-cell;
	vertical-align: middle;
}

.title_checkbox{

color: black;
font-family: "Lucida Sans Unicode", Arial;
font-size: 12px;
font-weight: 400;
display: inline-block;
margin-right: 65px;
}
.find_tires input {
	margin-right: 0;
	margin-left: 0;margin-bottom: 0;
	margin-top: 0;


}
.find_tires input:nth-of-type(2),
.find_tires input:nth-of-type(3)
 {
	margin-left: 44px;
}
.size4 {
	width: 100px;
}
.size3 {
	width: 57px;
}
.size2 {
	width: 52px;
}
.size1 {
	width: 45px;
}

.find_auto h2 span {
	font-family: "Lucida Sans Unicode", Arial;
	line-height: 14px;
	display: inline-block;
	padding-left: 3px;
}
.find input[type="button"] {
	text-decoration: underline;
	font-style: italic;
	background: none;
	border: 0;
	color: #;
	color: #154467;
	font-family: Arial;
	font-size: 14px;
	margin: 0;
	padding-right: 14px;
	float: right;
	text-decoration: underline;

}
.find_tires input[type="button"] {

	margin-top: -6px;
	padding-right: 6px;
}
.find__disk input[type="button"] {
	margin-top: -12px;
	margin-right: -13px;
}

.joint {
	/* Text style for "╨┐╨╛╨╕╤Б╨║..." */
color: #154467;
font-size: 12px;
line-height: 28px;
font-weight: bold;
}
.left {
text-align: left;
}
.right {
	text-align: right;
	padding-right: 17px;
}
label {
	font-size: 10px;
}
.grey {
	color: grey;
	font-size: 8px;
	font-size: 9px;
	font-family: "Lucida Sans Unicode", Arial;
}
.black {
	color: #000;
	font-size: 10px;
	font-family: "Lucida Sans Unicode", Arial;
}





.gallery {
	font-family: "Lucida Sans Unicode", Arial;
	float: left;
	width: 526px;
	padding-left: 23px;
	padding-top: 15px;

	height: 627px;
	background-color: white;
background-image: linear-gradient(to top, rgba(35, 75, 93, 0.24) 0%, rgba(201, 207, 209, 0.24) 100%);
border-radius: 3px;
}
.item {
	float: left;
	width: 140px;
	margin-right: 28px;
	text-align: center;
	margin-bottom: 23px;
}
.item figcaption {
	font-size: 13px;
	font-weight: bold;
}
.item:nth-of-type(3) {
	margin-right: 0;
}
.item:nth-of-type(6) {
	margin-right: 0;
}
.item:nth-of-type(9) {
	margin-right: 0;
}
.item h3 {
	color: #206988;
}
.item_img {

width: 138px;
height: 129px;
background-color: white;
border: 1px solid #a4aeb1;
border-radius: 7px;
margin-bottom: 2px;
}
.item_img img {
	margin: 3px auto;
	display: block;
}
.item_prise {
	display: inline-block;
	color: #114165;
	/* Base text style */
	font-family: Arial;


font-weight: 700;
font-style: italic;

/* Text style for "90.00" */
font-size: 16px;
padding-top: 3px;
padding-left: 9px;


}
.brand_logo {
	margin: 0 auto;
	text-align: center;
}
/*.brand_logo img{
	padding-top: 4px;
	margin-right: 12px;
	text-align: center;
	display:inline-block;
	vertical-align: bottom;
}*/

.brand_logo a{
	padding-top: 4px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	display:inline-block;
	vertical-align: bottom;
}
footer {
	/* Base text style */

width: 910px;
height: 101px;
background-color: #213a4d;
border: 1px solid #242a3c;
text-align: center;
margin-top: 35px;
padding-top: 10px;
}
footer a {
	/* Base text style */
	text-decoration: none;
	text-align: center;
text-align: center;
font-family: Arial;
font-size: 12px;
font-weight: 400;
line-height: 16px;

/* Text style for "╨Ю ╨║╨╛╨╝╨┐╨░╨╜╨╕╨╕" */
color: #52abcb;

/* Text style for "| ╨Ф╨╛╤Б╤В╨░╨▓╨║╨░   |" */
color: #bec6c9;
padding-right: 11px;
padding-left: 11px;
border-right: 2px solid #8d989f;
}
footer a:last-of-type {
	border: none;
}
footer p {
	/* Text style for "╨б╨╛╨╖╨┤╨░╨╜╨╕╨╡ ╤Б╨░╨╣╤В╨░" */
margin-top: 8px;
color: #7f4740;/*#fff;*/
font-family: Arial;
font-size: 10px;
font-weight: 400;
line-height: 18px;
font-family: "Lucida Sans Unicode", Arial;
text-align: center;
}
